<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid flex-sm-row-reverse">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="display-6 text-white">
      <% if controller_name == 'groups' %>
        Groups
      <% elsif controller_name == 'transactions' %>
        Transactions
      <% end %>
    </h1>
    <% if current_page?(root_path) %>
      <i class="bi bi-search fs-1 text-white"></i>
    <% elsif %>
      <%= link_to root_path do %>
        <i class="bi bi-arrow-left fs-1 text-white"></i>
      <% end %>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <% if current_user %>
          <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-secondary' %>
        <% end %>
        <li>
        </li>
      </ul>
    </div>
  </div>
</nav>
