<section class="home d-flex flex-column">
  <div class="splash flex-grow-1">
  </div>
  <div class="d-flex flex-column bg-primary p-3 gap-3">
    <%= link_to 'Log in', new_user_session_path, class: 'btn btn-outline-light fs-3 fw-bold' %>
    <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-outline-light fs-3 fw-bold' %>
  </div>
</section>
